<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/ >
    <title>OleOle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css"  href="/assets/css/team.css" />
    <link rel="stylesheet" type="text/css"  href="/assets/css/effect.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    
    
</head>
<div class="glitch">
        <div class="glitch-img"></div>
        <div class="glitch-img"></div>
        <div class="glitch-img"></div>
        <div class="glitch-img"></div>
    </div>
<header class="head">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                      <!-- <button type="button" class="btn btn-outline-warning">Item 1</button> -->
            </div>
            <div class="col-md-4">
            <a href="/team">
                <button type="button" class="btn btn-outline-warning">Stats</button>
              </a>
            </div>
            <div class="col-md-4">
                <!-- Button trigger modal -->
                <button type="button" id="accountBtn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        <i class="material-icons">
                                account_circle
                                </i> My Account
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modalStyle">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="modalText" aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title modalText">Username: <span class="modalText" id="myAccount"></span></h4>
                        </div>
                        <div class="modal-body modalStyle">
                                <h4 class="modalText" id="userCredits">34</h4>
                                <h4 class="modalText">Credits</h4>
                        </div>
                        <div class="modal-footer modalStyle">
                            <div class="dropdown creditsDrop">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add Credits
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="boom">
                                    <li><a class="teamStats" href="#" id="credits1">5 Credits</a></li>
                                    <li><a class="teamStats" href="#" id="credits2">10 Credits</a></li>
                                    <li><a class="teamStats" href="#" id="credits3">15 Credits</a></li>
                                </ul>
                            </div>
                            <a href="/login"><button type="button" class="btn btn-outline-warning">Log Out</button></a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Modal -->
            </div>
            
        </div>
    </div>

</header>
<body>
    
    <div class="teamselector">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    
                </div>
            </div>
            
    </div>
    <div class="container section1">
        <div class="row">
                <div class="col-md-4">
                      <div class="card">
                          
                        <div class="card-body">
                            <i class="large material-icons">ondemand_video</i>
                            <div class="thumbnail">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/Images/VancouverFC.png" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="assets/Images/OrlandoCitySC.png" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                    <h5>Vancouver Whitecaps</h5>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                    <h5>Orlando City SC</h5>
                                </div>
                        </div>
                        </div>
                        
                
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                        
                      <div class="card-body">
                          <i class="large material-icons">ondemand_video</i>
                          <div class="thumbnail">
                              <div class="row">
                                  <div class="col-md-6">
                                      <img src="assets/Images/ColumbusCrewSC.png" alt="...">
                                  </div>
                                  <div class="col-md-6">
                                      <img src="assets/Images/NewYorkRedBulls.png" alt="...">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                  <h5>Columbus Crew</h5>
                              </div>
                              <div class="col-md-6">
                                  <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                  <h5>New York Red Bulls</h5>
                              </div>
                      </div>
                      </div>
                      
              
                </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        
                      <div class="card-body">
                          <i class="large material-icons">ondemand_video</i>
                          <div class="thumbnail">
                              <div class="row">
                                  <div class="col-md-6">
                                      <img src="assets/Images/ChicagoFire.png" alt="...">
                                  </div>
                                  <div class="col-md-6">
                                      <img src="assets/Images/NewEnglandRevolution.png" alt="...">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                  <h5>Chicago Fire</h5>
                              </div>
                              <div class="col-md-6">
                                  <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                  <h5>New England Revolution</h5>
                              </div>
                      </div>
                      </div>
                      
              
                </div>
                </div>
                  
        </div>
        <div class="row">
            <div class="col-md-4">
                  <div class="card">
                      
                    <div class="card-body">
                        <i class="large material-icons">ondemand_video</i>
                        <div class="thumbnail">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/Images/NewYorkCityFC.png" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/Images/AtlantaUnitedFC.png" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                <h5>New York City FC</h5>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                                <h5>Atlanta United FC</h5>
                            </div>
                    </div>
                    </div>
                    
            
              </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    
                  <div class="card-body">
                      <i class="large material-icons">ondemand_video</i>
                      <div class="thumbnail">
                          <div class="row">
                              <div class="col-md-6">
                                  <img src="assets/Images/PortlandTimbers.png" alt="...">
                              </div>
                              <div class="col-md-6">
                                  <img src="assets/Images/SportingKansasCity.png" alt="...">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                              <h5>Portland Timbers</h5>
                          </div>
                          <div class="col-md-6">
                              <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                              <h5>Sporting KC</h5>
                          </div>
                  </div>
                  </div>
                  
          
            </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    
                  <div class="card-body">
                      <i class="large material-icons">ondemand_video</i>
                      <div class="thumbnail">
                          <div class="row">
                              <div class="col-md-6">
                                  <img src="assets/Images/LAGalaxy.png" alt="...">
                              </div>
                              <div class="col-md-6">
                                  <img src="assets/Images/RealSaltLake.png" alt="...">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                              <h5>LA Galaxy</h5>
                          </div>
                          <div class="col-md-6">
                              <button type="button" class="btn btn-outline-warning betBtn">Place Bet</button>
                              <h5>Real Salt Lake</h5>
                          </div>
                  </div>
                  </div>
                  
          
            </div>
            </div>
              
    </div>
    </div>
    <!-- Place bet -->
    <!-- <div class="placeBet">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                        <div class="row">
                                <div class="Teamview">
                                  <div class="thumbnail">
                                        <i class="material-icons">
                                                thumbs_up_down
                                                </i>
                                    <div class="teamstyle">
                                        <h2>-OleOle-</h2>
                                    </div>
                                    <hr>
                                    <div class="caption2">
                                      <h1>Place Your bet!</h1>
                                      <p>...</p>
                                      <div class="input-group">
                                            <input type="text" class="form-control" placeholder="How Much?">
                                            <span class="input-group-btn">
                                              <button class="btn btn-default" type="button">Bet!</button>
                                            </span>
                                          </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
        </div> -->
    
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>  
    <script src="/assets/js/main.js" type="text/JavaScript"></script> 
    <script src="/assets/js/modal.js" type="text/JavaScript"></script>
    
</body>
</html>