<!doctype html>
<html lang="en">

<head>
    <title>OleOle</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/ >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href=\assets\css\style2.css>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>

    <header class="v-header container">
        <div class="fullscreen-video-wrap">
            <video src="\assets\Images\Practice_day.mp4" autoplay="true" loop="true"></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>OleOle</h1>
            <form class="register" action="/register" method="post">
                <div>
                    <label>Username:</label>
                    <input type="text" name="username" />
                    <br/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <label>Email:</label>
                    <input type="email" name="email" />
                </div>
                <div>
                    <input class="btnn" type="submit" value="Submit" />
                </div>
                <p class="message">Already Registered?
                    <a href="#">Login</a>
                </p>
            </form>


            <form action="/dashboard">
                <div>
                    <label>Username:</label>
                    <input type="text" name="username" />
                    <br/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <a href="/dashboard">
                        <input class="btnn" type="submit" value="Submit" />
                    </a>
                </div>
                <p class="message">Not Registered?
                    <a href="#">Register</a>
                </p>
            </form>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
        </script>
    <script>
        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/assets/js/main.js" type="text/JavaScript"></script>
    <script src="/assets/js/modal.js" type="text/JavaScript"></script>
</body>

</html>